spring:
  mvc:
    servlet:
        load-on-startup: 1
  main:
    allow-bean-definition-overriding: true
  session:
    store-type: redis
  redis:
    host: localhost
    port: 6379
    password:
  profiles:
    active: local
  datasource:
      url: jdbc:mysql://localhost:3306/side_dish?serverTimezone=Asia/Seoul
      username: side-dish
      password: side-dish
      driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
      generate-ddl: true
      hibernate:
          ddl-auto: none
      show-sql: false
      database-platform: org.hibernate.dialect.MySQL8Dialect
      open-in-view: false
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
# Postgresql Username : auth_section
# Postgresql password : auth_section
# Postgresql database : auth_section


---

