spring:
  session:
    store-type: redis
  redis:
    host: local
    port: 6379
    password:
  profiles:
    active: local
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgresPlusDialect
      hibernate.default_batch_fetch_size: 1000
    show-sql: true
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
# Postgresql Username : auth_section
# Postgresql password : auth_section
# Postgresql database : auth_section


---

